<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>signin</title>
		<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
	</head>
	<body>
		<h1>Signin</h1>
		<form action="/users/signin_process" method="post">
			Email Address: <br>
			<input type="text" name="email"><br>
			Password: <br>
			<input type="password" name="pwd"><br>
			<input type="submit" name="signin" value="Sign In">
		</form>

		<a href="/register">Don't have an account? Register.</a>
	</body>
</html>